html{
    height: 100%;
    width: 100%;
    background-color:#ffffff;
    display: flex;
    justify-content: center;

}
body{
    height: 100%;
    width: 768px;
    background-color:blanchedalmond;
    
}


button{
    background-color: #a52a2a;
    widht: 150px;
    height: 30px;
    margin-left: 10px;
    border-top: #a74c4c;
    border-left: #a74c4c;
    border: #a74c4c;
    border: 2px;
    border-width: 2px;
    border-style: solid;
    box-shadow:2px black;
    text-shadow: 2px;
    color: #ffffff;
}
.central_buttons_div{
 
    text-align: center;
   

    
   
}
.button_1_div{
   
}